<div class="banner-index">

  <h1 class="title-card">All Cocktails</h1>

  <div class="container cont-cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-product">
        <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill, class:"img-show" %>
        <% end %>
        <div class="card-product-infos">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail.id), class:"show-link" %></h2>
          <ul>
          <%cocktail.doses.each do |dose|%>
            <li><%= "#{dose.description} of #{dose.ingredient.name}" %></li>
          <%end%>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

