<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner-home">
  <div class="banner-content text-center">
    <h1>Franz'cocktailz</h1>
    <p>All your cocktail recipes in your pocket</p>
    <%= link_to "Start now", cocktails_path, class: 'btn btn-lg btn-home' %>
  </div>
</div>
