.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-wagon {
  justify-content: space-between;
  position: sticky;
  top: 0px;
  width: 100%;
  background: #f4f6ff;
  box-shadow: none;
  .nav-link {
    color: #292929 !important;
  }
}

.navbar-home {
  justify-content: space-between;
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .nav-link {
    color: white !important;
  }
  .nav-link:hover {
    color: rgb(146, 148, 248);
  }
}


.btn-home {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  color: white;
}

.btn-home:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  color: rgb(146, 148, 248);
}

.btn-home:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn-home:hover:before {
  left: 100%;
}
