// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cocktail-show {
  height: 100vh;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("showpic");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-items: flex-start;
  ul {
    color: white;
  }
  .remove-link {
    text-decoration: none;
  }
}

.cont-show {
  position: fixed;
  margin-top: 128px;
  h1 {
    margin-bottom: 40px;
  }
}

.header-show {
  display: flex;
  position: fixed;
  justify-content: space-between;
  margin-top: 16px;

}

.cont-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  overflow: scroll;
  padding: 30px;
}

.cocktail-new {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("picnew.jpg");
  background-size: cover;
  background-position: center;
  h1 {
      color: white;
      font-weight: lighter;
      font-size: 45px;
  }
  label {
  color: white;
  }
  input {
  color: white;
  }
}

